{% extends 'base.html.twig' %}

{% block title %}Scripts index{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle">Scripts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Etat</th>
                <th>RefComposant</th>
                <th>RgSgSiCluster</th>
                <th>Script</th>
                <th>CodeErreur</th>
                <th>Criticite</th>
                <th>Description</th>
                <th>Instructions</th>
                <th>MonitoredBy</th>
                <th>RefService</th>
                <th>Support</th>
                
            </tr>
        </thead>
        <tbody>
        {% for script in scripts %}
            <tr>
                <td>{{ script.id }}</td>
                <td>{{ script.ref }}</td>
                <td>{{ script.etat }}</td>
                <td>{{ script.refComposant }}</td>
                <td>{{ script.rgSgSiCluster }}</td>
                <td>{{ script.script }}</td>
                <td>{{ script.codeErreur }}</td>
                <td>{{ script.criticite }}</td>
                <td>{{ script.description }}</td>
                <td>{{ script.instructions }}</td>
                <td>{{ script.monitoredBy }}</td>
                <td>{{ script.refService }}</td>
                <td>{{ script.support }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_scripts_show', {'id': script.id}) }}">show</a>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('app_scripts_edit', {'id': script.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_scripts_new') }}">Create new</a>
{% endblock %}
