<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ asset('assetsback/img/ORDS.AE.png') }}" rel="icon">
  <link href="{{ asset('assetsback/img/ORDS.AE.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('assetsback/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assetsback/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('assetsback/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assetsback/vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ asset('assetsback/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ asset('assetsback/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ asset('assetsback/vendor/simple-datatables/style.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('assetsback/css/style.css') }}" rel="stylesheet">
</head>

<body>
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="d-flex justify-content-center py-4">
                <a class="logo d-flex align-items-center w-auto">
                  <img src="{{ asset('assetsback/img/logo.svg') }}" alt="">
                </a>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your email & password to login</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate method="post">
                      {% if error %}
                          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                      {% endif %}

                      {% if app.user %}
                          <div class="mb-3">
                              You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                          </div>
                      {% endif %}

                      <div class="col-12">
                          <label for="inputEmail" class="form-label">Email</label>
                          <div class="input-group has-validation">
                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required>
                              <div class="invalid-feedback">Please enter your email.</div>
                          </div>
                      </div>

                      <div class="col-12">
                          <label for="inputPassword" class="form-label">Mot de passe</label>
                          <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                          <div class="invalid-feedback">Please enter your password!</div>
                      </div>

                      <div class="col-12">
                      <input type="hidden" name="auth_type" value="local">
                          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                          <button class="btn btn-primary w-100" type="submit">Login</button>
                      </div>
                      <div class="col-12">
                          <p class="small mb-0">Don't have an account? <a href="{{ path('app_register') }}">Create an account</a></p>
                      </div>

                      <div class="col-12 mt-3">
    
        <a  href="{{ path('app_login_ldap') }}"
        class="btn btn-secondary w-100" type="submit">Login with LDAP</a>
    
</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ asset('assetsback/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ asset('assetsback/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('assetsback/vendor/chart.js/chart.umd.js') }}"></script>
  <script src="{{ asset('assetsback/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ asset('assetsback/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ asset('assetsback/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ asset('assetsback/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ asset('assetsback/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ asset('assetsback/js/main.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
