{% extends 'base.html.twig' %}

{% block title %}Serveurs index{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle">Serveurs</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>
    <label for="filterSelect">Choisir un mot :</label>
<form action="{{ path('app_serveurs_index') }}" method="get">
    <select id="filterSelect" name="filter" onchange="this.form.submit()">
        <option value="">Tous</option>
        {% for secondPart in uniqueSecondParts %}
            <option value="{{ secondPart }}" {% if filter == secondPart %}selected{% endif %}>{{ secondPart }}</option>
        {% endfor %}
    </select>
</form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Etat</th>
                <th>Platforme</th>
                <th>Hostname</th>
                <th>Fqdn</th>
                <th>Type</th>
                <th>Modele</th>
                <th>Os</th>
                <th>VerTechFirmware</th>
                <th>Cluster</th>
                <th>IpSource</th>
                <th>Description</th>
                <th>SocleStandardOmu</th>
                <th>ComplementsInformations</th>
                <th>Support</th>
            </tr>
        </thead>
        <tbody>
        {% for serveur in serveurs %}
            <tr>
                <td>{{ serveur.id }}</td>
                <td>{{ serveur.ref }}</td>
                <td>{{ serveur.etat }}</td>
                <td>{{ serveur.platforme }}</td>
                <td>{{ serveur.hostname }}</td>
                <td>{{ serveur.fqdn }}</td>
                <td>{{ serveur.type }}</td>
                <td>{{ serveur.modele }}</td>
                <td>{{ serveur.os }}</td>
                <td>{{ serveur.verTechFirmware }}</td>
                <td>{{ serveur.cluster }}</td>
                <td>{{ serveur.ipSource }}</td>
                <td>{{ serveur.description }}</td>
                <td>{{ serveur.socleStandardOmu }}</td>
                <td>{{ serveur.complementsInformations }}</td>
                 <td>{{ serveur.support }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_serveurs_show', {'id': serveur.id}) }}">show</a>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('app_serveurs_edit', {'id': serveur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_serveurs_new') }}">Create new</a>
{% endblock %}
