{% extends 'base.html.twig' %}

{% block title %}Process index{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle">Process</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo2') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Etat</th>
                <th>RefComposant</th>
                <th>Process</th>
                <th>Criticite</th>
                <th>MessageAlarme</th>
                <th>IntervalleDePolling</th>
                <th>Objet</th>
                <th>NomTemplate</th>
                <th>MonitoredBy</th>
                <th>Support</th>
               
            </tr>
        </thead>
        <tbody>
        {% for process in processes %}
        {% if process.support in app.user.roles[0] %}
            <tr>
                <td>{{ process.id }}</td>
                <td>{{ process.ref }}</td>
                <td>{{ process.etat }}</td>
                <td>{{ process.refComposant }}</td>
                <td>{{ process.process }}</td>
                <td>{{ process.criticite }}</td>
                <td>{{ process.messageAlarme }}</td>
                <td>{{ process.intervalleDePolling }}</td>
                <td>{{ process.objet }}</td>
                <td>{{ process.nomTemplate }}</td>
                <td>{{ process.monitoredBy }}</td>
                <td>{{ process.support }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_process2_show', {'id': process.id}) }}">show</a>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('app_process2_edit', {'id': process.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_process2_new') }}">Create new</a>
{% endblock %}
