{% extends 'base.html.twig' %}

{% block title %}LogFiles index{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle">Log Files</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo2') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>
    <section class="section">
			<div class="row">
    <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Répartition par État</h5>

              <!-- Stacked Bar Chart -->
 <canvas id="barChart" style="max-height: 400px;"></canvas>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const supportValues = {{ supportValues|json_encode|raw }};

          new Chart(document.querySelector('#barChart'), {
            type: 'bar',
            data: {
              labels: Object.keys(supportValues),
              datasets: [{
                label: 'Dataset 1',
                data: Object.values(supportValues),
                backgroundColor:[
                  'rgb(255, 0, 0)',      // Rouge
                  'rgb(255, 165, 0)',    // Orange
                  'rgb(0, 255, 0)',      // Vert
                  'rgb(173, 216, 230)'   // Bleu ciel
                ],   // Bleu ciel
                borderColor: [
                  'rgb(255, 0, 0)',      // Rouge
                  'rgb(255, 165, 0)',    // Orange
                  'rgb(0, 255, 0)',      // Vert
                  'rgb(173, 216, 230)'   // Bleu ciel
                ],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                x: {
                  beginAtZero: true
                },
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        });
      </script>
<!-- End Stacked Bar Chart -->

             

            </div>
          </div>
        </div>
<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Répartition par monitoredBy</h5>

            <!-- Pie Chart -->
            <div id="pieChart"></div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    const chartos = {{ chartos|json_encode|raw }};
                    const labels = Object.keys(chartos);
                    const data = Object.values(chartos);

                    new ApexCharts(document.querySelector("#pieChart"), {
                        series: data,
                        chart: {
                            height: 350,
                            type: 'pie',
                            toolbar: {
                                show: true
                            }
                        },
                        labels: labels
                    }).render();
                });
            </script>
            <!-- End Pie Chart -->

        </div>
    </div>
</div>
</div>
</section>
 <div class="col-lg-4">
    <label for="filterSelect">Choisir un mot :</label>

<form action="{{ path('app_log_files') }}" method="get">
    <select id="filterSelect" name="filter" class="form-select" onchange="this.form.submit()">
        <option value="">Tous</option>
        {% for secondPart in uniqueSecondParts %}
            <option value="{{ secondPart }}" {% if filter == secondPart %}selected{% endif %}>{{ secondPart }}</option>
        {% endfor %}
    </select>
</form>
</div>

     <table class="table table-bordered">
        <thead>
            <tr>
                 <th style="background-color: #bbbbbb;">Ref</th>
                <th style="background-color: #bbbbbb;">Etat</th>
                <th style="background-color: #bbbbbb;">RefComposant</th>
                <th style="background-color: #bbbbbb;">RgSgSiCluster</th>
                <th style="background-color: #bbbbbb;">Logfile</th>
                <th style="background-color: #bbbbbb;">Localisation</th>
                <th style="background-color: #bbbbbb;">Description</th>
                <th style="background-color: #bbbbbb;">FormatLogfile</th>
                <th style="background-color: #bbbbbb;">Separateur</th>
                <th style="background-color: #bbbbbb;">IntervalleDePolling</th>
                <th style="background-color: #bbbbbb;">MonitoredBy</th>
                <th style="background-color: #bbbbbb;">FourniEnAnnexe</th>
                <th style="background-color: #bbbbbb;">RefService</th>
                <th style="background-color: #bbbbbb;">NomTemplate</th>
                <th style="background-color: #bbbbbb;">LogConditions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for log_file in log_files %}
        {% if log_file.support in app.user.roles[0] %}
            <tr>
                <td>{{ log_file.id }}</td>
                <td class="table-warning" >{{ log_file.ref }}</td>
             <td >{{ log_file.etat }}</td>
                <td style="background-color: #3ef3a0;">{{ log_file.refComposant }}</td>
                <td style="background-color: #3ef3a0;">{{ log_file.rgSgSiCluster }}</td>
                <td>{{ log_file.logfile }}</td>
                <td>{{ log_file.localisation }}</td>
                <td>{{ log_file.description }}</td>
                <td>{{ log_file.formatLogfile }}</td>
                <td>{{ log_file.separateur }}</td>
                <td>{{ log_file.intervalleDePolling }}</td>
                <td>{{ log_file.monitoredBy }}</td>
                <td style="background-color: #3ef3a0;" >{{ log_file.fourniEnAnnexe }}</td>
                <td style="background-color: #3ef3a0;">{{ log_file.refService }}</td>
                <td>{{ log_file.nomTemplate }}</td>
                <td>{{ log_file.logConditions }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_log_files2_show', {'id': log_file.id}) }}">show</a>
                </td>
                <td> 
                    <a class="btn btn-warning btn-sm" href="{{ path('app_log_files2_edit', {'id': log_file.id}) }}">edit</a>
                </td>
            </tr>
           {% endif %}
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ knp_pagination_render(log_files) }}
    <a class="btn btn-outline-success" href="{{ path('app_log_files2_new') }}">Create new</a>
{% endblock %}
