{% extends 'base.html.twig' %}

{% block title %}LogFilesPatterns index{% endblock %}

{% block body %}
    <h1>LogFilesPatterns index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>NRef</th>
                <th>Ref</th>
                <th>Etat</th>
                <th>Signification</th>
                <th>Identification</th>
                <th>Criticite</th>
                <th>MessageAlarme</th>
                <th>Instructions</th>
                <th>PerformAction</th>
                <th>Acquittement</th>
                <th>ComplementsInformations</th>
                <th>RefService</th>
                <th>Objet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for log_files_pattern in log_files_patterns %}
            <tr>
                <td>{{ log_files_pattern.id }}</td>
                <td>{{ log_files_pattern.nRef }}</td>
                <td>{{ log_files_pattern.ref }}</td>
                <td>{{ log_files_pattern.etat }}</td>
                <td>{{ log_files_pattern.signification }}</td>
                <td>{{ log_files_pattern.identification }}</td>
                <td>{{ log_files_pattern.criticite }}</td>
                <td>{{ log_files_pattern.messageAlarme }}</td>
                <td>{{ log_files_pattern.instructions }}</td>
                <td>{{ log_files_pattern.performAction }}</td>
                <td>{{ log_files_pattern.acquittement }}</td>
                <td>{{ log_files_pattern.complementsInformations }}</td>
                <td>{{ log_files_pattern.refService }}</td>
                <td>{{ log_files_pattern.objet }}</td>
                <td>
                    <a href="{{ path('app_log_files_patterns_show', {'id': log_files_pattern.id}) }}">show</a>
                    <a href="{{ path('app_log_files_patterns_edit', {'id': log_files_pattern.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_log_files_patterns_new') }}">Create new</a>
{% endblock %}
