{% extends 'base.html.twig' %}

{% block title %}Url{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle">Url</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo2') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ url.ref }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ url.etat }}</td>
            </tr>
            <tr>
                <th>RefComposant</th>
                <td>{{ url.refComposant }}</td>
            </tr>
            <tr>
                <th>RgSgSiCluster</th>
                <td>{{ url.rgSgSiCluster }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ url.url }}</td>
            </tr>
            <tr>
                <th>PerformAction</th>
                <td>{{ url.performAction }}</td>
            </tr>
            <tr>
                <th>Criticite</th>
                <td>{{ url.criticite }}</td>
            </tr>
            <tr>
                <th>MessageAlarme</th>
                <td>{{ url.messageAlarme }}</td>
            </tr>
            <tr>
                <th>Instructions</th>
                <td>{{ url.instructions }}</td>
            </tr>
            <tr>
                <th>IntervalleDePolling</th>
                <td>{{ url.intervalleDePolling }}</td>
            </tr>
            <tr>
                <th>RefService</th>
                <td>{{ url.refService }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ url.objet }}</td>
            </tr>
            <tr>
                <th>MonitoredBy</th>
                <td>{{ url.monitoredBy }}</td>
            </tr>
            <tr>
                <th>NomTemplate</th>
                <td>{{ url.nomTemplate }}</td>
            </tr>
            <tr>
                <th>Support</th>
                <td>{{ url.support }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_url') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('app_url2_edit', {'id': url.id}) }}">edit</a>
<br><br>
    {{ include('url2/_delete_form.html.twig') }}
{% endblock %}
