{% extends 'base.html.twig' %}

{% block title %}Scripts index{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle">Scripts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>
<section class="section">
			<div class="row">
    <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Répartition par État</h5>

              <!-- Stacked Bar Chart -->
 <canvas id="barChart" style="max-height: 400px;"></canvas>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const supportValues = {{ supportValues|json_encode|raw }};

          new Chart(document.querySelector('#barChart'), {
            type: 'bar',
            data: {
              labels: Object.keys(supportValues),
              datasets: [{
                label: 'Dataset 1',
                data: Object.values(supportValues),
                backgroundColor:[
                  'rgb(255, 0, 0)',      // Rouge
                  'rgb(255, 165, 0)',    // Orange
                  'rgb(0, 255, 0)',      // Vert
                  'rgb(173, 216, 230)'   // Bleu ciel
                ],   // Bleu ciel
                borderColor: [
                  'rgb(255, 0, 0)',      // Rouge
                  'rgb(255, 165, 0)',    // Orange
                  'rgb(0, 255, 0)',      // Vert
                  'rgb(173, 216, 230)'   // Bleu ciel
                ],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                x: {
                  beginAtZero: true
                },
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        });
      </script>
<!-- End Stacked Bar Chart -->

             

            </div>
          </div>
        </div>


<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Répartition par monitoredBy</h5>

            <!-- Polar Area Chart -->
            <div id="polarAreaChart"></div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    const chartData = {{ chartData|json_encode|raw }};

                    new ApexCharts(document.querySelector("#polarAreaChart"), {
                        series: Object.values(chartData),
                        chart: {
                            type: 'polarArea',
                            height: 350,
                            toolbar: {
                                show: true
                            }
                        },
                        stroke: {
                            colors: ['#fff']
                        },
                        fill: {
                            opacity: 0.8
                        },
                        labels: Object.keys(chartData),
                    }).render();
                });
            </script>
            <!-- End Polar Area Chart -->

        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Répartition par criticite </h5>

            <!-- Pie Chart -->
            <div id="pieChart"></div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    const chartos = {{ chartos|json_encode|raw }};
                    const labels = Object.keys(chartos);
                    const data = Object.values(chartos);

                    new ApexCharts(document.querySelector("#pieChart"), {
                        series: data,
                        chart: {
                            height: 350,
                            type: 'pie',
                            toolbar: {
                                show: true
                            }
                        },
                        labels: labels
                    }).render();
                });
            </script>
            <!-- End Pie Chart -->

        </div>
    </div>
</div>
</div>
		


	</section>


     <div class="col-lg-4">
    <label for="filterSelect">Choisir un mot :</label>

<form action="{{ path('app_scripts_index') }}" method="get">
    <select id="filterSelect" name="filter" class="form-select" onchange="this.form.submit()">
        <option value="">Tous</option>
        {% for secondPart in uniqueSecondParts %}
            <option value="{{ secondPart }}" {% if filter == secondPart %}selected{% endif %}>{{ secondPart }}</option>
        {% endfor %}
    </select>
</form>
</div>
<br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="background-color: #bbbbbb;">Id</th>
                <th style="background-color: #bbbbbb;">Ref</th>
                <th style="background-color: #bbbbbb;">Etat</th>
                <th style="background-color: #bbbbbb;">RefComposant</th>
                <th style="background-color: #bbbbbb;">RgSgSiCluster</th>
                <th style="background-color: #bbbbbb;">Script</th>
                <th style="background-color: #bbbbbb;">CodeErreur</th>
                <th style="background-color: #bbbbbb;">Criticite</th>
                <th style="background-color: #bbbbbb;">Description</th>
                <th style="background-color: #bbbbbb;">Instructions</th>
                <th style="background-color: #bbbbbb;">MonitoredBy</th>
                <th style="background-color: #bbbbbb;">RefService</th>
                <th style="background-color: #bbbbbb;">Support</th>
                
            </tr>
        </thead>
        <tbody>
        {% for script in scripts %}
            <tr>
                <td>{{ script.id }}</td>
                <td class="table-warning">{{ script.ref }}</td>
                <td style="{% if script.etat == 'Supprimé' %}background-color: red;{% elseif script.etat == 'Modifié' %}background-color: orange;{% elseif script.etat == 'Nouveau' %}background-color:  #5af700;{% elseif script.etat == 'Inchangé' %}background-color: lightblue;{% endif %}">
  {{ script.etat }}
</td>
                <td style="background-color: #3ef3a0;">{{ script.refComposant }}</td>
                <td style="background-color: #3ef3a0;">{{ script.rgSgSiCluster }}</td>
                <td>{{ script.script }}</td>
                <td>{{ script.codeErreur }}</td>
                <td style="{% if script.criticite == 'Critique' %}background-color: red;{% elseif script.criticite == 'Majeure' %}background-color: orange;{% elseif script.criticite == 'Normale' %}background-color:  #5af700;{% endif %}">
  {{ script.criticite }}
</td>
                <td>{{ script.description }}</td>
                <td>{{ script.instructions }}</td>
                <td>{{ script.monitoredBy }}</td>
                <td>{{ script.refService }}</td>
                <td>{{ script.support }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_scripts_show', {'id': script.id}) }}">show</a>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('app_scripts_edit', {'id': script.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ knp_pagination_render(scripts) }}
    <a class="btn btn-outline-success" href="{{ path('app_scripts_new') }}">Create new</a>
{% endblock %}
