{% extends 'base.html.twig' %}

{% block title %}Cluster index{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle"> Clusters </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>N° Réf.*</th>
                <th>Réf.</th>
                <th>Etat*</th>
                <th>Nom du Ressource Group / Package Service Guard*</th>
                <th>Adresse IP *</th>
                <th>Liste des serveurs concernés *</th>
                <th>Logiciel Cluster</th>
                <th>Version</th>
                <th>Mode*</th>
                <th>Serveur Actif</th>
                <th>Compléments d'informations</th>
                <th>Support</th>
                
            </tr>
        </thead>
        <tbody>
        {% for cluster in clusters %}
            <tr>
                <td>{{ cluster.getId() }}</td>
                <td>{{ cluster.ref }}</td>
                <td class="{% if cluster.etat == 'Supprimé' %}text-danger{% elseif cluster.etat == 'Modifié' %}text-warning{% elseif cluster.etat == 'Nouveau' %}text-success{% else %}text-info{% endif %}">
  {{ cluster.etat }}
</td>

                <td>{{ cluster.nomDuRessourceGroupPackageServiceGuard }}</td>
                <td>{{ cluster.adresseIp }}</td>
                <td>{{ cluster.listeDesServeursConcernés }}</td>
                <td>{{ cluster.logicielCluster }}</td>
                <td>{{ cluster.version }}</td>
                <td>{{ cluster.mode }}</td>
                <td>{{ cluster.serveurActif }}</td>
                <td>{{ cluster.complementsInformations }}</td>
                <td>{{ cluster.support }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_cluster_show', {'id': cluster.id}) }}">show</a>
                    </td>
                    <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('app_cluster_edit', {'id': cluster.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_cluster_new') }}">Create new</a>
{% endblock %}
