{% extends 'base.html.twig' %}

{% block title %}Cluster{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle"> Cluster</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cluster.id }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ cluster.ref }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ cluster.etat }}</td>
            </tr>
            <tr>
                <th>NomDuRessourceGroupPackageServiceGuard</th>
                <td>{{ cluster.nomDuRessourceGroupPackageServiceGuard }}</td>
            </tr>
            <tr>
                <th>AdresseIp</th>
                <td>{{ cluster.adresseIp }}</td>
            </tr>
            <tr>
                <th>ListeDesServeursConcernés</th>
                <td>{{ cluster.listeDesServeursConcernés }}</td>
            </tr>
            <tr>
                <th>LogicielCluster</th>
                <td>{{ cluster.logicielCluster }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ cluster.version }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ cluster.mode }}</td>
            </tr>
            <tr>
                <th>ServeurActif</th>
                <td>{{ cluster.serveurActif }}</td>
            </tr>
            <tr>
                <th>ComplementsInformations</th>
                <td>{{ cluster.complementsInformations }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_cluster_index') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('app_cluster_edit', {'id': cluster.id}) }}">edit</a>
<br><br>
    {{ include('cluster/_delete_form.html.twig') }}
{% endblock %}
